/* Main CSS - Import all modules */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('variables.css');
@import url('base.css');

/* Import remaining styles from parent directory temporarily */
/* TODO: Extract these into separate modules */
@import url('../style.css');